button {
    margin-left: 380px;
    margin-top: "60px";
    justify-content: center;
    align-items: center;
    background-color: #41315e;
    color: white;
    padding: 8px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
  }
  .button2{
    margin-left: 80px;
  }
  
  button:hover {
    background-color: #2b2c2b;
  }
  
  button[type="submit"] {
    margin-top: 40px;
  }

.button2{
  margin-left: 800px;
}